<ion-header>
  <ion-toolbar>
    <ion-title>carrito</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngFor="let p of pedido">
    <ion-item>
      <ion-avatar slot="start">
        <img [src]="p.imagen">
      </ion-avatar>
      <ion-label>
        <h2>Producto: {{p.nombre}}</h2>
        <h2>Precio: {{p.precio}}</h2>
      </ion-label>
      <ion-button slot="end" (click)="eliminar(p)">
        <ion-icon slot="icon-only" name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </div>

  <ion-item>
    <ion-button (click)="llamar()">LLamar</ion-button>
  </ion-item>

  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button (click)="volver()">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
